.imageSection{
	background-color: #f9f9f9;
	box-shadow: 1px 1px 1px 0px #d6d6d6 ;
}

.uploadIconColor svg.MuiDropzoneArea-icon{
   color: lightgray;
}
.uploadTextColor p{
	color: lightslategray;
}
legend.alignmentText{
	color: #3f51b5; 
}
button.cancelBtnStyle{
	background-color: white;
	color: black; 
}
.fileError > div{
	color: #F00;
	background-color: #fee8e8;
	border-color: #ff0000;
}
.fileSuccess > div{
    border-color: #4caf50;
    background-color: #d5e6d6;
    color: #16711a;
}